/* BODY */
.bodyclass {
  background: rgb(216, 210, 210);
}

/* HEADER SECTION */
.header-custom {
  background: rgb(26, 101, 177);
  color: white;
}

.spectrum-img {
  width: 70%;
}

.profile-button:hover {
  background: rgb(20, 81, 142);
}

/* SIDE DRAWER SECTION */
.threeIcons {
  border: 0.05rem solid black;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0px;
  position: relative;
  z-index: 1;
}

.accordion-button,
.accordion-item {
  background-color: rgba(52, 72, 94);
  color: rgba(var(--bs-light-rgb));
}
.accordion-button:not(.collapsed) {
  color: rgb(154, 164, 175);
  background-color: rgb(35, 52, 68);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}

#trial {
  background-image: none;
}

.collapseInner {
  width: 400px;
}

.side-drawer {
  background-color: rgb(52, 72, 94);
  position: relative;
  width: 45vw;
}
.side-drawer-inner {
  width: 45vw;
}
.drawer-button {
  background-color: rgba(52, 72, 94);
  color: white;
  position: absolute;
  top: 1rem;
  left: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.drawer-button:hover {
  color: white;
  background-color: rgb(35, 52, 68);
}

.accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: url(../assets/plus-square.svg);
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
}

.accordion-body {
  background-color: rgb(43, 60, 79);
}

.accordion-button:not(.collapsed)::after {
  background-image: url(../assets/dash-square.svg);
  transform: rotate(-180deg);
}

.accordion-button:hover,
.threeIcons:hover {
  background-color: rgb(35, 52, 68);
}

.predictive {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.25rem;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  background-color: rgb(35, 52, 68);
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    border-radius 0.15s ease;
}

/* MAIN SECTION */
.main-div-full {
  min-height: 100vh;
  width: 100%;
  padding-left: auto;
  position: relative;
  padding: 2rem;
}

.main-div-partial {
  min-height: 100vh;
  width: 100%;
  max-width: 55vw;
  position: relative;
  padding: 2rem;
  padding-right: 0rem;
}
.full-div {
  max-width: 100vw;
  width: 98vw;
}

.help-button {
  background-color: rgb(133, 186, 212);
  border: 0.05rem solid black;
}

/* FUNCTION BUTTONS SECTIONS */
.filter-line {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: rgb(248, 244, 244);
  flex-wrap: wrap;
  border-top: 0.1rem solid rgb(20, 81, 142);
  border-right: 0.1rem solid rgb(20, 81, 142);
  border-left: 0.1rem solid rgb(20, 81, 142);
  overflow:auto;
}

.filter-search {
  display: flex;
  flex-direction: column-reverse;
  align-items: start;
}

.add-delete-value {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-wrap: wrap;
}

.filter-button,
.add-button {
  margin: 0.5rem;
  background-color: rgb(26, 101, 177);
  color: rgb(248, 244, 244);
  min-width: 12rem;
}

.filter-button:hover,
.add-button:hover {
  background-color: rgb(12, 86, 160);
  color: rgb(248, 244, 244);
}

.search-button {
  border: 0.05rem solid rgb(26, 101, 177);
  margin: 0px;
}

.search-bar {
  width: 100%;
}

.delete-button {
  margin: 0.5rem;
  min-width: 12rem;
}
.value-div {
  margin: 0.5rem;
  min-width: 12rem;
}

.contact-word {
  font-size: 1.5rem;
  vertical-align: text-bottom;
  line-height: 1;
  margin-right: 1rem;
}

.contact-count {
  font-size: 1rem;
  vertical-align: text-bottom;
  line-height: 1;
}

#filter-reset {
  border-bottom: 0.1rem solid black;
}

/* TABLE SECTION */
.sort-item:hover {
  text-decoration: none;
  cursor: default;
}

.scroll-div {
  background-color: rgb(248, 244, 244);
  border: 0.1rem solid rgb(20, 81, 142);
  border-top: none;
}
.dropdown-table-name:hover {
  text-decoration: underline;
}
.contact-checks:hover {
  cursor: pointer;
  border: 0.1rem solid rgb(12, 86, 160);
}

.help-button:hover {
  background-color: rgb(93, 142, 166);
}

.add-on-dropdown:hover {
  border: .1rem solid rgb(12, 86, 160)
}
/* MEDIA QUERIES */

@media (width>500px) {
  .spectrum-img {
    width: auto;
  }
}

@media (width > 515px){
  .contact-word {
    font-size: 2rem;
  }
  .contact-count{
    font-size: 1.5rem;
}
.total-count {
  overflow: visible;
}
.filter-line {
  overflow: visible;
}
.main-div-partial {
  max-width: 65vw;
}
.side-drawer-inner {
  width: 30vw;
}
.side-drawer {
  width: 30vw;
}
}

@media (width>600px) {
  .add-delete-value {
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }

  .filter-search {
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }
}

@media (width>800px) {
  .filter-line {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (width > 870px) {
  .side-drawer {
    width: 20vw;
  }
  .side-drawer-inner {
    width: 20vw;
  }
  .main-div-partial {
    max-width: 76vw;
  }
  .full-div {
    overflow:none;
  }

}

